* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(8, 4, 4, 0.867);
  color: white;
  padding: 1rem 1rem;
}
.img {
  width: 70px;
  height: auto;
}
.rightbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.socialLinks span,h3 span {
color: blueviolet;
}
.my-icon{
  display: none;
}
@media  (max-width: 768px) {
  .navbarContainer {
    flex-direction: column;
    align-items: center;
  }
  .rightbar {
  display: none;
  }

  .my-icon {
    display: block;
  }
}   
