* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(8, 4, 4, 0.867);
  color: white;
  padding: 1rem 1rem;
}
.img {
  width: 70px;
  height: auto;
}
.rightBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.rightBarMobileContainer {
  display: none; /* was block */
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: blueviolet;
  z-index: 999;
  padding: 1rem;
}
.rightBarMobileContainer.active {
  display: flex;
}
.faIcon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  margin-left: auto;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1.5rem;
}
.socialLinks span,
h3 span {
  color: blueviolet;
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    margin-bottom: 2rem;
  }
  .rightBar {
    display: none;
  }

  .rightBarMobileContainer {
    display: none;
  }

  .rightBarMobileContainer.active {
    display: flex;
    flex-direction: column;
    color: black;
  }
.whatssap a{
  color: green;
}
  .faIcon {
    display: block;
    width: 2rem;
    height: 2rem;
    color: blueviolet;
  }
  .socialLinks {
    flex-direction: column;
  }
  .socialLinks span,
  h3,
  span,
  a {
    color: black;
  }
}
