.infor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  /* width: 1500px; */
  gap: 6rem;
}


@media (max-width: 950px) {
  .infor {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .infor {
    flex-direction: column;
   
  }
}
@media (max-width: 400px) {
  .infor {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
