.infor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  width: 1270px;
  gap: 6rem;
}
@media (max-width: 1020px) {
  .infor {
    flex-direction: column;
    gap: 8rem;
    width: 920px;
    align-items: center;
    justify-content: center;
    align-content: center;

  }
}
@media (max-width: 600px) {
  .infor {
    flex-direction: column;
    width: 420px;
   
  }
}
