.aboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  background-color: #1d1328;
  align-content: center;
  margin-top: 3rem;
}
.leftMe {
  max-width: 100%;
}
.leftMe h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  border: 3px solid blueviolet;
  border-radius: 2rem 0;
  width: 60%;
}
.leftMe h1:hover {
  color: blueviolet;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.leftMe p {
  font-size: 18px;
  cursor: pointer;
  width: 450px;
}

.leftMe p span {
  color: blueviolet;
  font-weight: bold;
}
.leftMe p span:hover {
  color: blue;
}
.rightMe {
  max-width: 50%;
}
.boy {
  width: 380px;
}

@media (max-width: 920px) {
  .aboutMe {
    flex-direction: column;
    gap: 2rem;
  }
  .boy {
    width: 400px;
    align-self: center;
  }
  .leftMe {
    width: 100%;
  }
  .leftMe h1 {
    width: 100%;
    border: none;
  }
  .leftMe p {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .aboutMe {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .aboutMe h1 {
    width: 40%;
  }

  .leftMe h1 {
    font-size: 3rem;
  }
  .leftMe p {
    width: 350px;
  }
  .boy {
    width: 300px;
    align-self: center;
  }
}
@media (max-width: 600px) {
  .aboutMe {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    /* margin-top: 10rem; */
  }
  .boy {
    width: 100%;
  }
  .leftMe h1 {
    width: 60%;
  }
  .leftMe p {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .aboutMe {
    margin-top: 4rem;
    width: 100%;
  }
}
@media (max-width: 300px) {
}
