.blog {
  background-color: #1d1328;
  padding: 1rem;
}
.blogContainer {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 14px;
  cursor: pointer;
}
.topBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topFirst h1 {
  color: blueviolet;
}
.topFirst p {
  font-size: 12px;
}
.shape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rounded {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: blueviolet !important;
}
.horizontal {
  width: 80px;
  height: 3px;
  background: blueviolet;
}

.horizontalLine {
  width: 600px;
  height: 3px;
  background: blueviolet;
  align-self: center;
}
.computer {
  width: 10rem;
  height: 10rem;
}
.downBlog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.simpleTask {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.rightContent {
  width: 30%;
}
h2 {
  color: blueviolet;
}
.readMore {
  color: rgb(159, 65, 247);
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.readMore span{
  color: rgb(159, 65, 247);
  display: flex;
  flex-direction: row;

}
.auth {
  width: 7rem;
  height: 2.3rem;
  border-radius: 17px;
  align-self: center;
  background-color: blueviolet;
  color: black;
  border: none;
}
.downButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.viewMore {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: blueviolet;
  color: black;
  border: none;
}
.subscribe {
  width: 90px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: blueviolet;
  border: blueviolet 2px solid;
}
@media (max-width: 800px) {
  .downBlog {
    width: 95%;
  }
  .rightContent {
    width: 80%;
  }
  .auth {
    width: 7rem;
  }
  .read {
    color: blueviolet;
  }
}
@media (max-width: 600px) {
  .downBlog {
    flex-direction: column;
    max-width: 80%;
    align-items: center;
    justify-content: center;
  }
  .simpleTask {
    flex-direction: column;
  }

  .rightContent {
    width: 80%;
  }
  .topFirst p {
    font-size: 7px;
  }
  .horizontalLine {
    width: 250px;
    height: 3px;
    background: blueviolet;
    align-self: center;
    justify-content: center;
  }
  .info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .info h5 {
    margin-top: 0.5rem;
  }
  .read {
    color: blueviolet;
  }
}
